<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Сайт для предсказания количества продаж в вашем кофейном автомате.">
    <link rel="icon" href="../static/images/icon.svg" type="image/svg+xml">
    <link rel="stylesheet" href="../static/fonts/font.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Cupcast</title>
</head>
<body class="page-1">
    <header>
        <div class="header-content">
            <div class="logo">
                <img src="../static/images/logo.svg" alt="Логотип">
            </div>
            <nav>
                <a href="#" class="nav-link">О проекте</a>
                <a href="#footer" class="nav-link">Команда</a>
            </nav>
        </div>
    </header>
    <main class="main page-1">
    <section class="section cover">
        <h1 class="main-title">Cupcast</h1>
        <div class="cover-info" style="padding-right: 103px;">
            <p class="cover-paragraph">Сервис помогает владельцам кофейных автоматов прогнозировать 
            недельный спрос на разные виды кофе<br><br>
            <strong>Умная аналитика для стабильной прибыли</strong>
            </p>
            <div class="upload">
                <div class="button-container">
                    <button class="proceed-button" type="submit" onclick="window.location.href='/page-2'">Загрузить данные</button>
                </div>
            </div>            
                <div class="more">
                    <img src="../static/images/iconamoon_mouse-light.svg" 
                        alt="Иконка мыши" 
                        class="more-image"
                    >
                    <span class="cover-paragraph" style="margin-top: 8px; font-size: 22px; font-weight: bold; color: #E19009;">Узнать больше</span>
                </div>
            </div>
        </div>
        <img src="../static/images/cup-1.svg" 
        alt="Изображение кружки кофе с красивым рисунком" 
        id="section-image-1">
    </section>
    
    <section class="section section-hard" style="margin-top: 80px;">
        <div class="forecast-section">
            <div class="forecast-title-left" style="padding-left: 103px">
                Загружайте<br>параметры
            </div>
            <div class="forecast-number-right" style="padding-right: 103px">01</div>
        </div>
        <p class="cover-paragraph" style="max-width: 50%; padding-bottom: 30px; padding-left: 103px";>
            Укажите, где расположен ваш кофейный автомат. Поделитесь информацией о среднем количестве людей, проходящих мимо ежедневно, наличии рекламы, количестве напитков в меню и средней стоимости чашки
            <br><br>Эти данные помогут лучше понять особенности вашего бизнеса и точнее предсказать спрос</p>
        <img src="../static/images/cup-2.svg" 
        alt="Изображение кружки кофе с красивым рисунком" 
        id="section-image-2">
    </section>
    <section class="section section-light">
        <div class="forecast-section">
            <div class="forecast-number-left" style="padding-left: 103px">02</div>
            <div class="forecast-title-right" style="padding-right: 103px;">
                Узнавайте<br>спрос
            </div>
        </div>
        <p class="cover-paragraph" style="padding-bottom: 30px; padding-left: 50%; padding-right: 103px;">
            Получите четкую картину будущего!<br><br>
            Узнайте, в какие дни стоит ожидать максимального спроса и подготовиться к повышенной нагрузке, а когда можно немного расслабиться</p>
        <img src="../static/images/cup-3.svg" 
        alt="Изображение кружки кофе с красивым рисунком" 
        id="section-image-3">
    </section>
    <section class="section section-hard">
        <div class="forecast-section">
            <div class="forecast-title-left" style="padding-left: 103px">
                Получайте<br>рекомендации
            </div>
            <div class="forecast-number-right" style="padding-right: 103px">03</div>
        </div>
        <p class="cover-paragraph" style="padding-bottom: 30px; max-width: 50%; padding-left: 103px;">
            На основе предсказаний мы предложим рекомендации, которые помогут увеличить ваши продажи. Например, вы узнаете, стоит ли расширить ассортимент, добавить рекламу или изменить цены
            <br><br>Эти подсказки позволят вам оптимизировать работу автомата и максимально эффективно использовать его потенциал</p>
        <img src="../static/images/cup-4.svg" 
        alt="Изображение кружки кофе с красивым рисунком" 
        id="section-image-4">
    </section>
    </main>
    <footer id="footer">
        <div class="footer-content">
            <div class="footer-section team-section">
                <h2 class="footer-title">Команда</h2>
                <ul class="team-list">
                    <li>Яковенко Максим</li>
                    <li>Скрыпник Михаил</li>
                    <li>Провков Иван</li>
                </ul>
            </div>
            <div class="footer-section contacts-section">
                <h2 class="footer-title">Контакты</h2>
                <ul class="contact-list">
                    <li>@ykvnkm</li>
                    <li>@mihask13</li>
                    <li>@iprovkov</li>
                </ul>
            </div>
            <div class="footer-logo">
                <img src="../static/images/footer-logo.svg" alt="Логотип">
            </div>
            <p class="footer-text">© 2024 Cupcast.ru. Все права защищены</p>
        </div>
    </footer>
</body>
</html>
